*.aac
*.pyc
*.class
.data/
build/
update_build/
.DS_Store
log/
*.log
*.txt
*.aac
res/resindex.txt
frameworks/runtime-src/proj.android/assets/src/
frameworks/runtime-src/proj.android/assets/res/
frameworks/runtime-src/proj.android/bin/
frameworks/runtime-src/proj.android/obj/
frameworks/runtime-src/proj.android_no_anysdk/assets/src/
frameworks/runtime-src/proj.android_no_anysdk/assets/res/
frameworks/runtime-src/proj.android_no_anysdk/bin/
frameworks/runtime-src/proj.android_no_anysdk/obj/
frameworks/runtime-src/proj.android_no_anysdk/.settings/
frameworks/runtime-src/proj.android_no_anysdk/gen/
frameworks/runtime-src/proj.android/.settings/
frameworks/runtime-src/proj.android/gen/
frameworks/runtime-src/proj.android/.classpath
frameworks/runtime-src/proj.android/.project
frameworks/cocos2d-x/cocos/platform/android/java/bin/AndroidManifest.xml
*.cache
*.o
*.o.d
#*.a
gdbserver
gdb.setup
*.apk
R.java
*.xcscheme
xcschemes/
xcuserdata/
*.xcworkspacedata
config/
headIcon/
frameworks/runtime-src/proj.win32/Debug.win32/
*.sdf
*/Debug.win32/
*.tlog
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/
frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/
screen.png
frameworks/cocos2d-x/cocos/2d/Debug.win32/
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/
frameworks/runtime-src/proj.win32/majiang.v12.suo
runtime/win32/*.dll
frameworks/runtime-src/proj.win32/majiang.opensdf
frameworks/runtime-src/proj.android_no_anysdk/assets/config.json
frameworks/runtime-src/proj.android_no_anysdk/libs/armeabi/libcocos2dlua.so
runtime/win32/
tnwz.keystore
TestPackage.lua
UserDefault.xml

erma.jpg
screen.jpg
erma712276.jpg
share.jpg
jfitem17.jpg
jfitem18.jpg
jfitem31.jpg
jfitem33.jpg
jfitem34.jpg
jfitem35.jpg
jfitem36.jpg
jfitem37.jpg
