<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>H:\quick3.6.3\quick\player\win32\player3.exe</StartProgram>
    <StartArguments>-workdir H:\yuntu -file src\main.lua</StartArguments>
    <StartWorkingDirectory>H:\quick3.6.3\quick\player\win32</StartWorkingDirectory>
  </propertyGroup>
</Project>