<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,144}}</string>
                <key>sourceSize</key>
                <string>{103,144}</string>
            </dict>
            <key>color_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,147},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>color_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>color_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>color_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,275},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>color_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{80,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>color_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,290},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>color_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,70},{75,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>color_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,303},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>num_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{36,35}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{36,35}}</string>
                <key>sourceSize</key>
                <string>{38,55}</string>
            </dict>
            <key>num_b_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,162},{40,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{40,39}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>num_b_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,224},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{27,37}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_b_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,146},{37,43}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{37,43}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>num_b_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,187},{38,35}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{38,35}}</string>
                <key>sourceSize</key>
                <string>{40,55}</string>
            </dict>
            <key>num_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,121},{25,39}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{25,39}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,253},{23,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{23,37}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,226},{25,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{25,37}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{23,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{23,37}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,259},{23,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{23,37}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,275},{23,35}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{23,35}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,250},{23,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{23,37}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,223},{25,37}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{25,37}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,253},{36,35}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{36,35}}</string>
                <key>sourceSize</key>
                <string>{38,55}</string>
            </dict>
            <key>num_r_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,185},{40,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{40,39}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>num_r_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,203},{29,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{29,39}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_r_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,107},{37,43}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{37,43}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>num_r_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{38,35}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{38,35}}</string>
                <key>sourceSize</key>
                <string>{40,55}</string>
            </dict>
            <key>num_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,80},{25,39}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{25,39}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,250},{23,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{23,37}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,223},{25,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{25,37}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,234},{23,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{23,37}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,41},{23,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{23,37}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,278},{23,35}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{23,35}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{23,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{23,37}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>num_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{27,37}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{27,37}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f94a91185a6d90892f82e33004117bdf:1/1$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
