<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/images/game/pokers/dawang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,889},{92,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,129}</string>
			</dict>
			<key>res/images/game/pokers/fangb.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,598},{59,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,67}</string>
			</dict>
			<key>res/images/game/pokers/fangs.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,808},{34,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,50}</string>
			</dict>
			<key>res/images/game/pokers/heib.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,667},{60,64}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,67}</string>
			</dict>
			<key>res/images/game/pokers/heis.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,852},{35,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,50}</string>
			</dict>
			<key>res/images/game/pokers/hongb.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,733},{61,58}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,67}</string>
			</dict>
			<key>res/images/game/pokers/meib.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,598},{59,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,67}</string>
			</dict>
			<key>res/images/game/pokers/hongs.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,933},{35,36}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,50}</string>
			</dict>
			<key>res/images/game/pokers/meis.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,893},{35,38}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,50}</string>
			</dict>
			<key>res/images/game/pokers/pkbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{160,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,220}</string>
			</dict>
			<key>res/images/game/pokers/pkbg_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,796},{48,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,64}</string>
			</dict>
			<key>res/images/game/pokers/poker_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,223},{160,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,220}</string>
			</dict>
			<key>res/images/game/pokers/xiaowang.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,889},{92,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,129}</string>
			</dict>
			<key>res/images/game/pokers/xuanzhongse.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,445},{160,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,220}</string>
			</dict>
			<key>res/images/game/pokers/heizi/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,733},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/heizi/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,914},{35,57}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/heizi/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,662},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/heizi/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,720},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/heizi/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,662},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/heizi/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,856},{34,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/heizi/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,598},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/heizi/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,818},{36,57}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/heizi/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,720},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/heizi/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,656},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/heizi/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,598},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/heizi/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,884},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/heizi/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,914},{35,56}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/hongzi/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,942},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/hongzi/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,973},{35,57}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/hongzi/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,884},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/hongzi/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,942},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/hongzi/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,884},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/hongzi/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,856},{34,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/hongzi/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,942},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/hongzi/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,818},{36,57}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/hongzi/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,856},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/hongzi/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,818},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/hongzi/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,778},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/hongzi/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,714},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/hongzi/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,972},{35,56}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/wang/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,862},{20,121}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,122}</string>
			</dict>
			<key>res/images/game/pokers/hongzi/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,656},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/hongzi/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,816},{34,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/heizi/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,714},{36,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/heizi/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,772},{34,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>res/images/game/pokers/yellowBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,667},{160,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,220}</string>
			</dict>
			<key>res/images/game/pokers/zhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,914},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>res/images/game/pokers/wang/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,796},{20,121}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,122}</string>
			</dict>
			<key>res/images/game/pokers/pink.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1},{160,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,220}</string>
			</dict>
			<key>res/images/game/pokers/tongzise.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,163},{159,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,217}</string>
			</dict>
			<key>res/images/game/pokers/shuangkou.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,382},{159,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,214}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>pokers.png</string>
			<key>realTextureFileName</key>
			<string>pokers.png</string>
			<key>size</key>
			<string>{482,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>482</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>