<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shaizianim0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,76},{74,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{74,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shaizianim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{78,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{78,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shaizianim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,74},{76,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{76,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shaizianim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{72,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{72,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shaizianim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{80,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shaiziAnima.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfc6753303e0949cc01a2b93abe9f9c2:1/1$</string>
            <key>textureFileName</key>
            <string>shaiziAnima.png</string>
        </dict>
    </dict>
</plist>
