<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/images/datongzi/roundOverItem/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,774},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,774},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/benjuxiaojie.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,490},{351,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,78}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{268,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,268}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,424},{62,63}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/content_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,274},{210,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,212}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/fenshukuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,671},{72,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,25}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/fenshumingxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,736},{136,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,33}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/getiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,1000},{4,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{4,119}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/jifen.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,600},{67,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,33}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/jixuyouxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,927},{207,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,69}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/k.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,773},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/mengceng.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,561},{57,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,58}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/mingci.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,731},{67,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,33}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/nichengtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,736},{135,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,34}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/paiku.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,561},{35,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,74}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/shengyupai.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,490},{102,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,33}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/tong.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,773},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/touxiangkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,572},{64,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,65}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/xi.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,837},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>res/images/datongzi/roundOverItem/zha.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,490},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>res/images/datongzi/gameOver/2tong.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,558},{65,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,27}</string>
			</dict>
			<key>res/images/datongzi/gameOver/atong.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,527},{68,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,27}</string>
			</dict>
			<key>res/images/datongzi/gameOver/dizhafen.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,623},{91,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,29}</string>
			</dict>
			<key>res/images/datongzi/gameOver/fanhuidating.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,927},{207,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,69}</string>
			</dict>
			<key>res/images/datongzi/gameOver/fenxiangzhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,490},{207,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,69}</string>
			</dict>
			<key>res/images/datongzi/gameOver/jushu.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,768},{61,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,29}</string>
			</dict>
			<key>res/images/datongzi/gameOver/ktong.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,700},{66,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,27}</string>
			</dict>
			<key>res/images/datongzi/gameOver/paijujieshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,845},{351,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,78}</string>
			</dict>
			<key>res/images/datongzi/gameOver/paimianfen.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,527},{91,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,30}</string>
			</dict>
			<key>res/images/datongzi/gameOver/shengfufen.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,656},{91,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,29}</string>
			</dict>
			<key>res/images/datongzi/gameOver/wanjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,627},{60,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,29}</string>
			</dict>
			<key>res/images/datongzi/gameOver/zongfen.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,833},{61,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,29}</string>
			</dict>
			<key>res/images/datongzi/gameOver/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,701},{256,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,31}</string>
			</dict>
			<key>res/images/datongzi/gameOver/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,274},{71,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,57}</string>
			</dict>
			<key>res/images/datongzi/gameOver/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,641},{71,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,56}</string>
			</dict>
			<key>res/images/datongzi/gameOver/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,349},{71,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,57}</string>
			</dict>
			<key>res/images/datongzi/gameOver/ju.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,660},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>res/images/datongzi/gameOver/score_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1000},{78,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,21}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameOver.png</string>
			<key>realTextureFileName</key>
			<string>gameOver.png</string>
			<key>size</key>
			<string>{455,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>455</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>