<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>di_lei.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,214},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>di_lei_fei.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,277},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>face_dise.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>game_face1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,412},{94,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,98}</string>
            </dict>
            <key>game_face2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,316},{94,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,98}</string>
            </dict>
            <key>game_face3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,412},{94,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,98}</string>
            </dict>
            <key>game_face4.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,316},{94,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,98}</string>
            </dict>
            <key>game_face5.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,315},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,96}}</string>
                <key>sourceSize</key>
                <string>{94,98}</string>
            </dict>
            <key>game_face6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,412},{94,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,98}</string>
            </dict>
            <key>game_face7.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,316},{94,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,98}</string>
            </dict>
            <key>game_face8.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,413},{94,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,98}</string>
            </dict>
            <key>gan_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,104},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>gan_bei_fei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{96,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>gu_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,113},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>gu_tou_fei.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,444},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>hei_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,214},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>hei_wu_fei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{121,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,140}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>jing_ling.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,214},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>jing_ling_fei.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,366},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>li_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,113},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>li_wu_fei.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,105},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>miao_zhun.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>miao_zhun_fei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,165}}</string>
                <key>sourceSize</key>
                <string>{164,165}</string>
            </dict>
            <key>nao_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>nao_zhong_fei.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,202},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>zui_chun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>zui_chun_fei.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{101,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,72}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_face.png</string>
            <key>size</key>
            <string>{571,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9e722a6e014c12540337acbd60a412d:1/1$</string>
            <key>textureFileName</key>
            <string>game_face.png</string>
        </dict>
    </dict>
</plist>
