<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actions.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,610}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{350,610}}</string>
                <key>sourceSize</key>
                <string>{352,612}</string>
            </dict>
            <key>hutype/3ti5kan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,550},{66,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,20}}</string>
                <key>sourceSize</key>
                <string>{66,20}</string>
            </dict>
            <key>hutype/chaohong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,985},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{42,20}</string>
            </dict>
            <key>hutype/dazihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1090},{62,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,20}}</string>
                <key>sourceSize</key>
                <string>{62,20}</string>
            </dict>
            <key>hutype/dianhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,680},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>hutype/dihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1064},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>hutype/duiduihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1090},{62,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,20}}</string>
                <key>sourceSize</key>
                <string>{62,20}</string>
            </dict>
            <key>hutype/haidihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,680},{62,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,21}}</string>
                <key>sourceSize</key>
                <string>{62,21}</string>
            </dict>
            <key>hutype/hanghangxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,618},{63,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,20}}</string>
                <key>sourceSize</key>
                <string>{63,20}</string>
            </dict>
            <key>hutype/honghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1086},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>hutype/hongwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1064},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>hutype/pinghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1067},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>hutype/shuahou.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1057},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{42,20}</string>
            </dict>
            <key>hutype/tianhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1064},{41,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,19}}</string>
                <key>sourceSize</key>
                <string>{41,19}</string>
            </dict>
            <key>hutype/tinghuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1050},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>hutype/tuanyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1011},{41,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,19}}</string>
                <key>sourceSize</key>
                <string>{41,19}</string>
            </dict>
            <key>hutype/wanhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1007},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>hutype/wuhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1042},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>hutype/xiaozihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1090},{62,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,20}}</string>
                <key>sourceSize</key>
                <string>{62,20}</string>
            </dict>
            <key>hutype/zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1020},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>loading_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,1003},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>loading_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1003},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>loading_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,711},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>loading_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,711},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>loading_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,915},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>loading_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,915},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>loading_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,491},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>loading_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,351},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mj/bird_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,841},{241,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{241,130}}</string>
                <key>sourceSize</key>
                <string>{261,132}</string>
            </dict>
            <key>mj/bird_z0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,799},{38,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>mj/bird_z1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1029},{26,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{26,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>mj/bird_z2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1067},{38,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{38,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>mj/bird_z3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,703},{36,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{36,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>mj/bird_z4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,469},{40,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>mj/bird_z5.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1029},{36,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{36,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>mj/bird_z6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,751},{38,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>mj/bird_z7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,519},{38,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>mj/bird_z8.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,509},{38,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>mj/birdanimbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,711},{102,104}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{102,104}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>mj/birdanimbg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,550},{104,128}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{104,128}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>mj/birdanimbg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,583},{104,126}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{104,126}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>mj/birdanimbg12.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,585},{108,110}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{108,110}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>mj/birdanimbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,925},{104,102}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{104,102}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>mj/birdanimbg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,914},{104,104}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{104,104}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>mj/birdanimbg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,808},{104,104}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{104,104}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>mj/birdanimbg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,813},{104,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{104,110}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>mj/birdanimbg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,587},{104,126}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{104,126}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>mj/birdanimbg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,693},{102,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{102,118}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>mj/birdanimbg8.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,711},{104,128}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{104,128}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>mj/birdanimbg9.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,973},{104,128}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{104,128}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>mj/ht_ag.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,443},{140,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{140,86}}</string>
                <key>sourceSize</key>
                <string>{150,96}</string>
            </dict>
            <key>mj/ht_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,697},{110,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,67},{110,109}}</string>
                <key>sourceSize</key>
                <string>{234,243}</string>
            </dict>
            <key>mj/ht_anim10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,243},{234,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{234,225}}</string>
                <key>sourceSize</key>
                <string>{234,243}</string>
            </dict>
            <key>mj/ht_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,573},{118,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,63},{118,117}}</string>
                <key>sourceSize</key>
                <string>{234,243}</string>
            </dict>
            <key>mj/ht_anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,667},{156,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,44},{156,155}}</string>
                <key>sourceSize</key>
                <string>{234,243}</string>
            </dict>
            <key>mj/ht_anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,479},{186,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,27},{186,187}}</string>
                <key>sourceSize</key>
                <string>{234,243}</string>
            </dict>
            <key>mj/ht_anim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{208,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{208,211}}</string>
                <key>sourceSize</key>
                <string>{234,243}</string>
            </dict>
            <key>mj/ht_anim6.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{216,221}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{216,221}}</string>
                <key>sourceSize</key>
                <string>{234,243}</string>
            </dict>
            <key>mj/ht_anim7.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{214,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{214,231}}</string>
                <key>sourceSize</key>
                <string>{234,243}</string>
            </dict>
            <key>mj/ht_anim8.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{226,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{226,239}}</string>
                <key>sourceSize</key>
                <string>{234,243}</string>
            </dict>
            <key>mj/ht_anim9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,614},{234,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{234,225}}</string>
                <key>sourceSize</key>
                <string>{234,243}</string>
            </dict>
            <key>mj/ht_gskh.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,243},{264,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{264,92}}</string>
                <key>sourceSize</key>
                <string>{264,96}</string>
            </dict>
            <key>mj/ht_gsp.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,225},{214,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{214,82}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>mj/ht_hdly.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,235},{254,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{254,92}}</string>
                <key>sourceSize</key>
                <string>{264,96}</string>
            </dict>
            <key>mj/ht_hdp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,215},{206,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{206,90}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>mj/ht_hhqxd.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,235},{336,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{336,94}}</string>
                <key>sourceSize</key>
                <string>{354,96}</string>
            </dict>
            <key>mj/ht_jjh.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,509},{200,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{200,90}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>mj/ht_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,441},{140,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{140,84}}</string>
                <key>sourceSize</key>
                <string>{150,96}</string>
            </dict>
            <key>mj/ht_ph.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,215},{134,94}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{134,94}}</string>
                <key>sourceSize</key>
                <string>{150,96}</string>
            </dict>
            <key>mj/ht_pph.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,918},{206,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{206,84}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>mj/ht_qgh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{204,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{204,86}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>mj/ht_qqr.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,225},{216,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{216,88}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>mj/ht_qxd.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1004},{208,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{208,84}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>mj/ht_qys.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,824},{202,92}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{202,92}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>mj/ht_shhqxd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{408,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{408,94}}</string>
                <key>sourceSize</key>
                <string>{420,96}</string>
            </dict>
            <key>mj/shaizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1020},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{42,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mj/shaizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1053},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{42,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mj/shaizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1007},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{42,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mj/shaizi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,939},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{42,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mj/shaizi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,893},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{42,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mj/shaizi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,847},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{42,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mj/shaizianim0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,973},{44,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mj/shaizianim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,667},{46,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{46,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mj/shaizianim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,973},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{46,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mj/shaizianim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1057},{42,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{42,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mj/shaizianim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,423},{46,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{46,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mj/touzi_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,905},{96,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{96,96}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>mj/touzi_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,807},{96,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{96,96}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>mj/touzi_anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,905},{96,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{96,96}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>mj/touzi_anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,807},{96,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{96,96}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>mj/touzi_anim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1011},{96,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{96,96}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>mj/touzi_anim6.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,817},{96,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{96,96}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>mj/touzi_anim7.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1011},{96,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{96,96}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>mj/touzi_anim8.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,817},{96,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{96,96}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>mowen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,447},{126,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,101}}</string>
                <key>sourceSize</key>
                <string>{126,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_anims.png</string>
            <key>size</key>
            <string>{1227,1112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a6fb98dc3d78f1f85dc639d87f80ff0:1/1$</string>
            <key>textureFileName</key>
            <string>game_anims.png</string>
        </dict>
    </dict>
</plist>
