<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zhuanzhuan1/65.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/66.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>123</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/67.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/68.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>369</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/69.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/70.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>615</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/71.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>738</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/72.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>861</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/73.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/74.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>123</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/75.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/76.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>369</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/77.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/78.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>615</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/79.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>738</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/80.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>861</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/81.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/82.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>123</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/83.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/84.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>369</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/85.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/86.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>615</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/87.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>738</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/88.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>861</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/89.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>381</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/90.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>123</integer>
				<key>y</key>
				<integer>381</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/91.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>381</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/92.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>369</integer>
				<key>y</key>
				<integer>381</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/93.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>381</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/94.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>615</integer>
				<key>y</key>
				<integer>381</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/95.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>738</integer>
				<key>y</key>
				<integer>381</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/96.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>861</integer>
				<key>y</key>
				<integer>381</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/97.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>508</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/98.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>123</integer>
				<key>y</key>
				<integer>508</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/99.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>508</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/100.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>369</integer>
				<key>y</key>
				<integer>508</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhuan1/101.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>508</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>coscoszhuanzuan1.png</string>
			<key>realTextureFileName</key>
			<string>coscoszhuanzuan1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>