<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>21/effect_c00_01.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>21/effect_c00_02.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>105</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.04999923706055</real>
				<key>offsetY</key>
				<real>-4.39999771118164</real>
			</dict>
			<key>21/effect_c00_03.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>107</integer>
				<key>offsetX</key>
				<real>2.45000076293945</real>
				<key>offsetY</key>
				<real>-3.45000076293945</real>
			</dict>
			<key>21/effect_c00_04.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>109</integer>
				<key>y</key>
				<integer>107</integer>
				<key>offsetX</key>
				<real>1.84999847412109</real>
				<key>offsetY</key>
				<real>-2.84999847412109</real>
			</dict>
			<key>21/effect_c00_05.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>221</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.89999771118164</real>
				<key>offsetY</key>
				<real>-2.25</real>
			</dict>
			<key>touxiang/000.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>335</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.60000228881836</real>
				<key>offsetY</key>
				<real>-7.29999923706055</real>
			</dict>
			<key>touxiang/001.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>221</integer>
				<key>y</key>
				<integer>115</integer>
				<key>offsetX</key>
				<real>6.60000228881836</real>
				<key>offsetY</key>
				<real>-6.59999847412109</real>
			</dict>
			<key>touxiang/002.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>221</integer>
				<key>y</key>
				<integer>185</integer>
				<key>offsetX</key>
				<real>1.40000152587891</real>
				<key>offsetY</key>
				<real>-6.59999847412109</real>
			</dict>
			<key>touxiang/003.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>335</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>0.100002288818359</real>
				<key>offsetY</key>
				<real>-6.59999847412109</real>
			</dict>
			<key>touxiang/004.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>317</integer>
				<key>y</key>
				<integer>142</integer>
				<key>offsetX</key>
				<real>-1.19999694824219</real>
				<key>offsetY</key>
				<real>-5.29999923706055</real>
			</dict>
			<key>touxiang/005.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>416</integer>
				<key>y</key>
				<integer>142</integer>
				<key>offsetX</key>
				<real>1.40000152587891</real>
				<key>offsetY</key>
				<real>-1.39999771118164</real>
			</dict>
			<key>touxiang/006.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>6.60000228881836</real>
				<key>offsetY</key>
				<real>-3.34999847412109</real>
			</dict>
			<key>touxiang/007.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>1.40000152587891</real>
				<key>offsetY</key>
				<real>-1.39999771118164</real>
			</dict>
			<key>touxiang/008.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>219</integer>
				<key>offsetX</key>
				<real>1.40000152587891</real>
				<key>offsetY</key>
				<real>-6.59999847412109</real>
			</dict>
			<key>touxiang/009.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>366</integer>
				<key>offsetX</key>
				<real>0.100002288818359</real>
				<key>offsetY</key>
				<real>-6.59999847412109</real>
			</dict>
			<key>touxiang/010.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>96</integer>
				<key>y</key>
				<integer>289</integer>
				<key>offsetX</key>
				<real>1.40000152587891</real>
				<key>offsetY</key>
				<real>-1.39999771118164</real>
			</dict>
			<key>touxiang/011.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>436</integer>
				<key>offsetX</key>
				<real>6.60000228881836</real>
				<key>offsetY</key>
				<real>-3.34999847412109</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>coscostouxiang0.png</string>
			<key>realTextureFileName</key>
			<string>coscostouxiang0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>