<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>510K.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,862},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>anim_baodan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,937},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>anim_baodan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,942},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>anim_baodan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,872},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>anim_baodan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,877},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>anim_baoshuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,832},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>anim_baoshuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,767},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>anim_baoshuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,722},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>anim_baoshuang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,807},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>anim_plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,156}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{276,156}}</string>
                <key>sourceSize</key>
                <string>{288,156}</string>
            </dict>
            <key>dizha_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,401},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>ld.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,716},{64,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,35}}</string>
                <key>sourceSize</key>
                <string>{64,35}</string>
            </dict>
            <key>sizha0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,648},{71,72}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{71,72}}</string>
                <key>sourceSize</key>
                <string>{155,142}</string>
            </dict>
            <key>sizha0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,494},{87,100}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,23},{87,100}}</string>
                <key>sourceSize</key>
                <string>{155,142}</string>
            </dict>
            <key>sizha0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,616},{85,100}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{85,100}}</string>
                <key>sourceSize</key>
                <string>{155,142}</string>
            </dict>
            <key>sizha0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,172},{89,90}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{89,90}}</string>
                <key>sourceSize</key>
                <string>{155,142}</string>
            </dict>
            <key>sizha0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,810},{81,86}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,34},{81,86}}</string>
                <key>sourceSize</key>
                <string>{155,142}</string>
            </dict>
            <key>sizha0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,611},{145,130}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{145,130}}</string>
                <key>sourceSize</key>
                <string>{155,142}</string>
            </dict>
            <key>sizha0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,758},{137,118}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{137,118}}</string>
                <key>sourceSize</key>
                <string>{155,142}</string>
            </dict>
            <key>sizha0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,191},{137,118}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{137,118}}</string>
                <key>sourceSize</key>
                <string>{155,142}</string>
            </dict>
            <key>sizha01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,961},{52,58}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,13},{52,58}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha02.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,829},{50,52}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,19},{50,52}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha03.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,960},{52,62}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,9},{52,62}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha04.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,746},{50,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{50,66}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha05.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,798},{46,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,10},{46,62}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha06.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,767},{52,60}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,11},{52,60}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha07.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,897},{50,50}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,21},{50,50}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha08.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,562},{78,52}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{78,52}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha09.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,718},{90,78}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha10.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,344},{96,78}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{96,78}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,898},{94,60}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{94,60}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha12.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,961},{96,58}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{96,58}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha13.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,682},{96,62}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{96,62}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha14.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,465},{108,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{108,62}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha15.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,399},{110,64}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{110,64}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha16.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,616},{96,64}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{96,64}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha17.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,424},{98,68}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{98,68}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sizha18.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,616},{98,64}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{98,64}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,575},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{58,37}</string>
            </dict>
            <key>tianzha.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,570},{44,104}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,104}}</string>
                <key>sourceSize</key>
                <string>{44,108}</string>
            </dict>
            <key>tianzha_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,743},{142,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,74}}</string>
                <key>sourceSize</key>
                <string>{142,74}</string>
            </dict>
            <key>tianzhabaozha0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,887},{116,72}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,39},{116,72}}</string>
                <key>sourceSize</key>
                <string>{162,114}</string>
            </dict>
            <key>tianzhabaozha0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,191},{118,112}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{118,112}}</string>
                <key>sourceSize</key>
                <string>{162,114}</string>
            </dict>
            <key>tianzhabaozha0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,311},{112,86}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{112,86}}</string>
                <key>sourceSize</key>
                <string>{162,114}</string>
            </dict>
            <key>tianzhabaozha0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,311},{130,88}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{130,88}}</string>
                <key>sourceSize</key>
                <string>{162,114}</string>
            </dict>
            <key>tianzhabaozha0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{140,88}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{140,88}}</string>
                <key>sourceSize</key>
                <string>{162,114}</string>
            </dict>
            <key>tianzhabaozha0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,429},{152,82}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{152,82}}</string>
                <key>sourceSize</key>
                <string>{162,114}</string>
            </dict>
            <key>tianzhabaozha0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{152,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{152,82}}</string>
                <key>sourceSize</key>
                <string>{162,114}</string>
            </dict>
            <key>tianzhabaozha0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,583},{158,76}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{158,76}}</string>
                <key>sourceSize</key>
                <string>{162,114}</string>
            </dict>
            <key>yxz_sz_dh.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,583},{91,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,63}}</string>
                <key>sourceSize</key>
                <string>{91,63}</string>
            </dict>
            <key>yxz_ths.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,465},{105,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>z510K.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,648},{83,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,26}}</string>
                <key>sourceSize</key>
                <string>{83,26}</string>
            </dict>
            <key>zhadan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,928},{51,58}}</string>
                <key>offset</key>
                <string>{-4,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,201},{51,58}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,928},{49,54}}</string>
                <key>offset</key>
                <string>{-1,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,206},{49,54}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{51,62}}</string>
                <key>offset</key>
                <string>{-2,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,197},{51,62}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,807},{49,68}}</string>
                <key>offset</key>
                <string>{-5,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,191},{49,68}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,881},{45,62}}</string>
                <key>offset</key>
                <string>{-3,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,197},{45,62}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan06.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,968},{51,60}}</string>
                <key>offset</key>
                <string>{1,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,199},{51,60}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan07.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,949},{49,50}}</string>
                <key>offset</key>
                <string>{2,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,209},{49,50}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan08.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,753},{77,52}}</string>
                <key>offset</key>
                <string>{6,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,207},{77,52}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan09.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,264},{89,78}}</string>
                <key>offset</key>
                <string>{0,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,190},{89,78}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,465},{95,78}}</string>
                <key>offset</key>
                <string>{6,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,190},{95,78}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan11.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,337},{111,90}}</string>
                <key>offset</key>
                <string>{-4,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,190},{111,90}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan12.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,160},{175,112}}</string>
                <key>offset</key>
                <string>{0,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,157},{175,112}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{177,174}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,106},{177,174}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{155,270}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{155,270}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan15.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{149,250}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{149,250}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{43,250}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,19},{43,250}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan17.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,172},{17,250}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,19},{17,250}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
            <key>zhadan18.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,153},{17,250}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,18},{17,250}}</string>
                <key>sourceSize</key>
                <string>{177,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_anims.png</string>
            <key>size</key>
            <string>{617,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d947b0dadb1203e640459e8853c31cb8:1/1$</string>
            <key>textureFileName</key>
            <string>game_anims.png</string>
        </dict>
    </dict>
</plist>
