<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zha.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xi.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>94</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huo1.png</key>
			<dict>
				<key>width</key>
				<integer>366</integer>
				<key>height</key>
				<integer>416</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>416</integer>
				<key>x</key>
				<integer>186</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huo2.png</key>
			<dict>
				<key>width</key>
				<integer>366</integer>
				<key>height</key>
				<integer>416</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>416</integer>
				<key>x</key>
				<integer>554</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huo3.png</key>
			<dict>
				<key>width</key>
				<integer>366</integer>
				<key>height</key>
				<integer>416</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>416</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>418</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huo4.png</key>
			<dict>
				<key>width</key>
				<integer>366</integer>
				<key>height</key>
				<integer>416</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>416</integer>
				<key>x</key>
				<integer>368</integer>
				<key>y</key>
				<integer>418</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhandan1.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>836</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhandan2.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>139</integer>
				<key>y</key>
				<integer>836</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhandan3.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>278</integer>
				<key>y</key>
				<integer>836</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhandan4.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>417</integer>
				<key>y</key>
				<integer>836</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhandan5.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>556</integer>
				<key>y</key>
				<integer>836</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhandan6.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>695</integer>
				<key>y</key>
				<integer>836</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhandan7.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>834</integer>
				<key>y</key>
				<integer>836</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>xizha0.png</string>
			<key>realTextureFileName</key>
			<string>xizha0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>